<div class="container">
  <div class="modal">
    <form [formGroup]="ticketForm" (ngSubmit)="sellTicket()">
      <div class="form__row">
        <label for="event">Event: </label>

        <select id="event" [formControl]="ticketForm.controls.eventId">
          <!-- TODO: generate based on available events from backend -->
          <option *ngFor="let event of eventSet | async" [value]="event.id">{{event.name}}</option>
        </select>

        <span *ngIf="ticketForm.controls.eventId.touched && ticketForm.controls.eventId.invalid" class="error-message">Please enter a valid email event.</span>
      </div>

      <div class="form__row">
        <label for="description">Description: </label>
        <input type="text" [formControl]="ticketForm.controls.description" name="description" id="description"/>
        <span *ngIf="ticketForm.controls.description.touched && ticketForm.controls.description.invalid"
              class="error-message">Please enter a valid description.</span>
      </div>

      <div class="form__row">
        <label for="price">Price: </label>
        <input type="text" [formControl]="ticketForm.controls.price" name="price" id="price"/>
        <span *ngIf="ticketForm.controls.price.touched && ticketForm.controls.price.invalid" class="error-message">Please enter a valid price.</span>
      </div>

      <div class="form__actions">
        <button mat-raised-button type="submit">Sell Ticket</button>
      </div>
    </form>
  </div>
</div>
