.ticket {
  background-color: #f5f5f5;
  padding: 16px;
  border-radius: 4px;
  border: 1px solid #c4c4c4;
  margin-bottom: 20px;
  color: #1c1c1c;

  display: flex;
  justify-content: center;
  align-items: center;
}

.ticket__event-info {
  font-size: 20px;
  font-weight: bold;
  width: 150px;
  height: 100%;
}

.ticket__description {
  flex-grow: 1;
  height: 100%;
}
